<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='question.jpg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='question.jpg') }}" class="icon" width="200" />
  <h3>Q&A</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter Question" required />
    <input type="submit" value="Generate Answer" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
  {% if logs %}
  <div>{{ logs }}</div>
  {% endif %}
</body>
